body {
  background-color:#B0BEC5;
  color: #263238;
  margin: 0%;
} /* The grey part */
.maindiv{
  margin: 6.67%;
  margin-top: 50px;
  margin-bottom: -100px;
  background-color: #F5F5F5;
  box-shadow: 0px 0px 5px;
} /* The white part */
.oldbody{
  text-align: center;
  margin-left:6.67%;
  margin-right:6.67%;
} /* Used in oldindex */
.ethicsbody{
  text-align: justify;
  margin-left: 6.67%;
  margin-right: 6.67%;
} /* Used in ethics */
.oldbody2{
  margin-left: 16.7%;
  margin-right: 16.7%;
} /* Used in oldindex */
.homebody{
  margin-left: 6.67%;
  margin-right: 6.67%;
} /* Used in index */
.endiv{
  background-color: #263238;
  color: #E0E0E0;
  width: 100%;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  margin-left: 0%;
  font-size: 10px;
  padding-top: 25px;
  padding-bottom: 25px;
} /* Used in footer; the black part */

.entext{
  padding-left: 16.7%;
  padding-right: 16.7%;
} /* Also used in footer */
