.divider{
  width:87.77%;
  border-style: double;
} /* Style for the divider bars */
.emph{
  color:#4A14BC; /* Purple */
  font-weight: bolder;
} /* Style for purple pieces of text */

h1{
  color: #212121; /* Dark grey */
  text-align: center;
  font-weight: lighter;
  font-variant: small-caps;
  font-size: 50px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 0%;
}
.maintitle{
  font-size: 75px;
} /* Pagetop titles */
/* Shrink the titles so they fit on small screens*/
@media (max-width:600px) {
    .maintitle, h1{
        font-size: 40px;
    }
}
@media (max-width:400px) {
    .maintitle{
        font-size: 20vw;
    }
}
@media (max-width:320px) {
    h1{
        font-size: 12vw;
    }
}

h2, h3, h4, th{
  font-family:"Lucida Bright", Georgia, serif;
  text-align: left;
} /* Subheading fonts */
@media (max-width:600px) {
    h2, h3, h4, th{
        text-align:center;
    }
} /* Center subheadings on small screens */

table{
  border-spacing: 0px;
  width: 100%;
}
p, td{
  font-family:"Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", "Georgia", serif;
} /* Content fonts */

.ctb{
  border: 0.5px dotted black;
} /* Used in the course rating table*/
.ctbh{
  border: 1px solid black;
} /* Used in the course rating table*/
.ctbh, .ctb{
  padding: 15px
} /* Used in the course rating table*/
@media (max-width:600px) {
    .ctbh, .ctb{
        padding: 5px;
    }
} /* Shrinks the course rating table on small screens */

a:visited{
  color:black;
}
a:link{
  color: #00796B; /* teal */
} 
.acc{
  opacity: 0.0;
  font-size: 0px;
} /* Hidden text for accessibility*/


/* Single attributes */
.left{
  text-align: left;
}
.center{
  text-align:center;
}
.wide20{
  width: 20%;
}
.wide40{
  width: 40%;
}
.wide50{
  width: 50%;
}
.wide83.3{
  width: 83.33%;
}
.wide16.7{
  width: 16.67%;
}

.white:link{
  color: white;
} /* override color settings for links for the implementations link at the bottom*/
.white:visited{
  color: white;
}

.meimg{
  box-shadow: 0px 0px 5px;
  max-width: 60%;
  display: block;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  max-height: 50%;
} /* Styles for the image of me */
.goodimg{
  max-width: 100px;
  display: block;
  margin: auto;
} /* Style for attraction icons*/

.errorimg{
  width: 100%;
  display: block;
  margin: auto;
} /* Style for the image in the experiments */

/* Style for responsive iframe */
iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 70%;
  height: 100%;
  border: none;
  padding-left: 15%;
}
.gameframe{
  width: 100%;
  overflow: hidden;
  height: 0;
  position: relative;
  padding-bottom: 70%;
}
